<div id="wrapper">
    <div id="topPanel">
        <div id="chat" scroll-glue>
            <div data-ng-repeat="msg in messages" ng-class="{'well well-sm': msg.receiver == nick || msg.sender == nick}">
                {{msg.time}} <img csp-src="{{msg.uolk}}" width="32" height="32" ng-show="msg.uolk"><span ng-style="{'color':msg.color}"><b class="mao" ng-click="selectNick(msg.sender)">{{msg.sender}}</b></span> <i ng-show="msg.pvt">(reservadamente) </i><i>{{msg.action}}</i> <b>{{msg.receiver}}</b> {{msg.message}}
            </div>
        </div>
        <div id="userlist" ng-scrollable>
            <ul class="nav nav-list">
                <li data-ng-repeat="user in users" class="list-user mao" ng-class="{'active' : selectedUser == user}">
                    <a href ng-click="selectNick(user)">
                        <i class="fa" ng-class="user == 'Todos' && 'fa-users' || 'fa-circle-o online'"></i>
                        <span>{{user}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="msgPanel">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="rsv"> Reservado
                        </label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <select class="form-control" ng-model="selectedUser" ng-options="o as o for o in users"></select>
                </div>
                <div class="col-sm-3">
                    <select class="form-control" ng-model="action" ng-options="o as o for o in actions"></select>
                </div>
            </div>
            <div class="row" style="margin-bottom: 4px;">
                <div class="col-lg-12">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <div class="btn-group dropup" dropdown is-open="emoticons.isopen">
                                <button class="btn btn-default dropdown-toggle" dropdown-toggle>
                                    <i class="fa fa-smile-o fa-lg"></i> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu emoticons" role="menu">
                                    <li ng-repeat="e in emoticons"><img ng-src="{{e}}"></li>
                                </ul>
                            </div>
                        </div>
                        <input type="text" class="form-control" placeholder="Digite uma mensagem..." ng-model="msgtext" ng-enter="sendMsg()">
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="button" ng-click="sendMsg()">Enviar</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
